/* body{
  background-color:#0EAB99;
}
.App{
  background-color:#54639E;
  min-height: 400px;
  width: 500px;
  margin: 40px auto;
}

#form-do{
  
  
  
  height: 50px;
  padding: 5 40px;
}

.text-box{
  height: 30px;
}

.input{
  padding: 5px 10px;
}

#Head{
  text-align: center;
  
} */